* {
    font-family: "Monserrat", sans-serif !important;
    font-size: 16px;
}

* p {
    line-height: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

:root {
    --lightgreen: #CBC46B;
    --olivegreen: #7A6300;
    --midgreen: #A49200;
    --dark: #231F20;
    --light: #F0F1EC;
}

h1 {
    padding-bottom: .5em;
    font-weight: bold;
}

h2 {
    padding-bottom: .5em;
    font-weight: bold;
}

.ul-details {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--olivegreen);
    border-radius: 15px;
    width: 90%;
}

.quoteblock {
    background-color: var(--olivegreen);
    padding: 2em;
    color: white;
    text-align:  center;
}

.quoteblock p {
    font-style: italic;
    font-weight: bolder;
    font-size: 650%;
}

.hero {
    position: relative;
    max-width: 100vw;
    height: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/mick-haupt-crOHrKjsfWg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: var(--light);
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.navbar {
    overflow: auto;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
    padding: 0;
}
  
.navbar a {
    font-size: 16px;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

.navbar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
}

.arrow::after {
    content: '\25BC';
}
  
.navbar a:hover {
    background-color: var(--olivegreen);
    color: var(--light);
}

#action-invite {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #FFFFFF;
    color: var(--dark);
    border-style: solid;
    border-color: var(--dark);
    border-width: .1em;
    border-radius: 15px;
    padding: 1em;
    align-items: center;
    align-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: var(--light);
    width: 100%;
}
.service-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.5;
    margin-bottom: 25em;
    background-color: #FFFFFF;
}

.service-detail p {
    padding-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.service-detail h1 {
    text-decoration: underline;
}

.center-p {
    text-align: center;
}

#intro-video {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#video-container {
    color: white;
    background-color: black;
    max-width: 500px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
}

.service-detail ul {
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style-type: square;
}

.service-detail li {
    padding-top: .5em;
    padding-bottom: .5em;
}

.service-detail h1 {
    text-align: center;
    /* border-bottom: solid;
    border-color: var(--lightgreen) */
}

.service-detail h2 {
    text-align: center;
    background-color: var(--lightgreen);
}

.submit-button {
    background-color: var(--lightgreen);
    border: none;
    color: var(--dark);
    padding: 15px 32px;
    margin: 12px 0px 12px 0px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.bold-text {
    font-weight: bold;
}

footer {
    background-color: var(--olivegreen);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    margin: 1em;
}

.footer-content a {
    color: white;
    margin: 5px;
}

.blog-card {
    border: none;
    padding: 1em;
    width: 90%;
    margin: 1em;
}

.blog-header {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
}

.blog-header img{
    border-radius: 75%;
    border-style: solid;
    border-color: var(--olivegreen);
    border-width: 6px;
    width: 100%;
}

.large-blog-cards {
    padding-top: 1.5em;
    padding-left: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light);
}

#half {
    width: 50%;
}

#headshot {
    width: 15%;
    position: relative;
}

.blog-cards {
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--lightgreen);
    align-items: center;
    align-content: center;
}

.blog-card {
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light);
    align-items: center;
    align-content: center;
}

.blog-card img {
    width: 100%;
}

.blog-title-img {
    border-bottom: 5px inset var(--olivegreen);
}

.blog-title-img img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.blog-card p {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 0.75em;
    margin: 0.75em;
}

.card header {
    text-align: center;
    font-size: 1em;
    padding: 20px;
    background-color: var(--lightgreen);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card p {
    text-align: center;
}

.card img {
    width: 100%;
}

.card a {
    text-decoration: none;
    color: var(--dark);
}

.mini-card {
    color: var(--dark);
    background-color: var(--lightgreen);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: .5em;
    border-radius: 15px;
    max-width: 75px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-card a {
    color: var(--dark);
    text-decoration: none;
}

.service-cards {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light);
}

.objectives {
    border-radius: 15px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    background-color: var(--lightgreen);
}

#definitions div {
    padding-top: 1em;
    padding-bottom: 1em;
}

#definitions {
    background-color: var(--light);
}

#about-cave {
    display: flex;
}

#founder-pic {
    width: 40%;
}

#founder-pic img {
    width: 100%;
}

#founder-intro {
    width: 50%;
}

#social-icons {
    text-align: center;
    font-size: 3em;
    color: var(--olivegreen)
}

#social-icons a {
    color: var(--olivegreen)
}

#about-info {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#about-info h1, h2, h3 {
    text-align: center;
}

#about-info h2 {
    margin-top: .5em;
}

#about-photo {
    display: flex;
    width: 90%;
    margin: 1em;
}

#about-photo img {
    width: 100%;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

#vertical1 {
    width: 50%;
}

#vertical2 {
    border-left: .25em solid var(--olivegreen);
    height: 6em;
    position: relative;
    left: 50%;
    margin-bottom: 1em;
    width: 50%;
}

.contact-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    max-width: 65vw;
}

#right-nav a {
    float: right;
}

#intro-text {
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card {
        width: 98%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card {
        width: 48%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card {
        width: 28%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card {
        width: 23%;
    }
}